.title {
  font-size: 30px;
  max-width: 700px;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 70px;

  & > span {
    color: #caecff;
    font-weight: 700;
  }
}

.search,
.filters {
  display: flex;
}

.filters {
  gap: 38px;
  background-color: #24343d;
  padding: 20px 30px;
  border-radius: 1rem;
  align-items: center;

  & > h2 {
    font-size: 20px;
    font-weight: 400;
  }

  & > .select {
    background-color: #1f2d34;
    color: white;
    padding: 10px 5px;
    border-radius: 10px;
  }
}
.search {
  margin-bottom: 80px;
  align-items: center;
  justify-content: space-between;

  & input {
    background-color: #24343d;
    outline: none;
    border: none;
    color: white;
    padding: 20px 30px;
    border-radius: 1rem;
    min-width: 20rem;
    margin-right: 1rem;
  }
}
.searchBtn {
  padding: 15px 30px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #33434c;
  color: white;
  cursor: pointer;

  &:hover {
    filter: brightness(110%)
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
