@import "./styles/reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.wrapper {
  color: white;
  font-size: 1.5625rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding: 50px 80px;
}
